In [264]:
#año con mas horas jugadas del juego estaria en (solo el año)reviews

In [1]:
# Cargamos las librerias que necesitamos
import json
import pandas as pd

In [2]:
ruta_archivo = 'australian_user_reviews.json'

# Listas para almacenar los datos y los errores
datos = []
errores = []

# Contadores para los registros correctos y los registros fallidos
registros_correctos = 0
registros_fallidos = 0

with open(ruta_archivo, 'r', encoding='utf-8') as archivo:
    # Leer cada linea del archivo
    for num_linea, linea in enumerate(archivo, start=1):
        try:
            # Intentar cargar cada línea como un JSON
            objeto_json = json.loads(linea)
            datos.append(objeto_json)
            registros_correctos += 1
        except json.JSONDecodeError:
            try:
                # Si falla como JSON, intentar interpretar la línea como un diccionario
                objeto_dict = eval(linea)
                if isinstance(objeto_dict, dict):
                    datos.append(objeto_dict)
                    registros_correctos += 1
                else:
                    errores.append(f"Línea {num_linea}: No es un JSON válido ni un diccionario.")
                    registros_fallidos += 1
            except Exception as e:
                errores.append(f"Línea {num_linea}: {e}")
                registros_fallidos += 1

# Creamos un df con datos_items
df_reviews = pd.DataFrame(datos)

# Ahora vemos cuantos correctos y errores se cargaron
print(f"Total de registros: {registros_correctos + registros_fallidos}")
print(f"Registros leídos correctamente: {registros_correctos}")
print(f"Registros fallidos: {registros_fallidos}")
print("Errores:")
for error in errores:
    print(error)

Total de registros: 25799
Registros leídos correctamente: 25799
Registros fallidos: 0
Errores:

In [3]:
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [4]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [5]:
dataframes_resultantes = []

# Itera en cada fila del df.
for index, row in df_reviews.iterrows():
    lista_diccionarios = row['reviews']
    
    # Convierte la lista de diccionarios en un df.
    df_temporal = pd.DataFrame(lista_diccionarios)
    
    # Agrega el df resultante a la lista.
    dataframes_resultantes.append(df_temporal)
    #crea una df por cada lista que tiene la columna reviews

In [6]:
df_unificado = pd.concat(dataframes_resultantes, ignore_index=True) #unifico todos lo df en un solo

In [7]:
df_unificado.head(25)

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
5,,"Posted November 29, 2013.",,239030,1 of 4 people (25%) found this review helpful,True,Very fun little game to play when your bored o...
6,,Posted February 3.,,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...
7,,"Posted December 4, 2015.","Last edited December 5, 2015.",370360,No ratings yet,True,"""Run for fun? What the hell kind of fun is that?"""
8,,"Posted November 3, 2014.",,237930,No ratings yet,True,"Elegant integration of gameplay, story, world ..."
9,,"Posted October 15, 2014.",,263360,No ratings yet,True,"Random drops and random quests, with stat poin..."
10,,"Posted October 15, 2014.",,107200,No ratings yet,True,Fun balance of tactics and strategy. Potentia...
11,,"Posted October 15, 2014.",,224500,No ratings yet,True,"Fun world builder, with plenty of option of ho..."
12,,"Posted October 14, 2013.",,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...
13,,"Posted July 28, 2012.",,20920,1 of 1 people (100%) found this review helpful,True,"Really Really Really Great Game, very good sto..."
14,,"Posted June 2, 2012.",,204100,1 of 1 people (100%) found this review helpful,True,"Just buy it already. Great Story, Great Multip..."
15,,"Posted June 29, 2014.",,224600,1 of 2 people (50%) found this review helpful,True,"It was a great game from what I played, right ..."
16,,"Posted November 22, 2012.",,207610,No ratings yet,True,The ending to this game is.... ♥♥♥♥♥♥♥.... Jus...
17,,"Posted February 23, 2012.",,108710,No ratings yet,True,"Alan wake is a really good game, the light eff..."
18,3 people found this review funny,"Posted April 15, 2014.",,211420,35 of 43 people (81%) found this review helpful,True,Git gud
19,1 person found this review funny,"Posted December 23, 2013.",,211820,12 of 16 people (75%) found this review helpful,True,"It's like Terraria, you play for 9 hours strai..."
20,2 people found this review funny,"Posted March 14, 2014.",,730,5 of 5 people (100%) found this review helpful,True,"Hold shift to win, Hold CTRL to lose."
21,,"Posted July 11, 2013.",,204300,No ratings yet,True,"OH YES, THIS GAME IS THE BEST, THEY ADD STUFF ..."
22,,"Posted May 5, 2014.",,249130,7 of 8 people (88%) found this review helpful,True,This game is Marvellous.
23,,"Posted December 24, 2012.","Last edited November 25, 2013.",207610,1 of 1 people (100%) found this review helpful,True,"It reminds me of that TV Show called ""The Walk..."
24,1 person found this review funny,"Posted October 21, 2012.","Last edited November 25, 2013.",550,1 of 1 people (100%) found this review helpful,True,This game is fantastic if you are looking to D...

In [8]:
df_unificado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   funny        59305 non-null  object
 1   posted       59305 non-null  object
 2   last_edited  59305 non-null  object
 3   item_id      59305 non-null  object
 4   helpful      59305 non-null  object
 5   recommend    59305 non-null  bool
 6   review       59305 non-null  object
dtypes: bool(1), object(6)
memory usage: 2.8+ MB

In [9]:
df_unificado.isnull().sum()

funny          0
posted         0
last_edited    0
item_id        0
helpful        0
recommend      0
review         0
dtype: int64

In [10]:
df_unificado['posted'] = df_unificado['posted'].str.rstrip('.')
#df_unificado['last_edited'] = df_unificado['last_edited'].str.rstrip('.')

In [11]:
df_unificado['posted'] = df_unificado['posted'].str[-4:]
#df_unificado['last_edited'] = df_unificado['last_edited'].str[-4:]

In [13]:
df_unificado.head()

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,2011,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,2011,,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,2011,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,2014,,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,2013,,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [14]:

df_unificado['posted'] = df_unificado['posted'].astype(int, errors='ignore')

#df_unificado['last_edited'] = df_unificado['last_edited'].astype(int, errors='ignore')

In [304]:
#df_unificado['posted'] = df_unificado.apply(lambda row: row['last_edited'] if pd.notna(row['last_edited']) else row['posted'], axis=1)

In [15]:
df_unificado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   funny        59305 non-null  object
 1   posted       59305 non-null  object
 2   last_edited  59305 non-null  object
 3   item_id      59305 non-null  object
 4   helpful      59305 non-null  object
 5   recommend    59305 non-null  bool
 6   review       59305 non-null  object
dtypes: bool(1), object(6)
memory usage: 2.8+ MB

In [16]:
df_unificado.head()

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,2011,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,2011,,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,2011,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,2014,,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,2013,,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [17]:
df_unificado['posted'].unique()

array(['2011', '2014', '2013', 'ry 3', '2015', '2012', 'y 20', 'y 24',
       'e 16', 'e 11', 'y 27', 't 23', 'y 16', 'h 31', 'ly 9', 'y 18',
       'y 30', 'y 28', 'ay 7', 'il 4', 'h 30', 'h 28', 'y 11', 'l 20',
       'y 26', 't 31', 'h 27', 'y 15', 't 19', 'r 14', 'ly 8', 'y 23',
       'er 9', 'y 22', 'y 29', 'ly 3', 'e 20', 'y 17', 'r 17', 't 26',
       'e 29', 'er 4', 'e 26', 'e 14', 'ch 5', 'h 19', 'l 19', 'l 18',
       'ry 7', 'l 10', 'r 15', 'l 15', 'e 22', 'y 14', 'e 27', 'ch 8',
       'ay 1', 'ch 7', 'y 10', 'r 12', 'e 25', 'h 20', 'y 13', 't 16',
       'y 31', 'ch 6', 'er 8', 'er 2', 'h 25', 'ly 7', 'e 18', 'l 22',
       'h 12', 't 13', 'ch 2', 't 15', 't 22', 'ry 9', '2010', 'h 24',
       'ay 6', 'ne 8', 'e 24', 'ne 3', 't 14', 't 28', 'l 12', 't 21',
       'ly 5', 'ry 1', 'y 12', 'e 17', 'ch 4', 'st 3', 'y 21', 'e 28',
       'ly 6', 't 29', 'ry 2', 'h 10', 'ly 4', 'er 7', 'h 11', 'r 10',
       'l 28', 'h 22', 'ry 8', 'il 2', 't 12', 'ry 4', 'y 25', 'r 16',
       'e 23', 'e 15', 'l 26', 'ay 4', 'er 3', 'h 26', 'st 7', 'y 19',
       'l 29', 'r 11', 'ay 5', 't 17', 'il 1', 'ne 5', 'il 9', 'e 30',
       'l 25', 'il 3', 'ry 6', 'h 15', 't 30', 'e 10', 'l 14', 'st 5',
       'h 29', 't 25', 'l 13', 'e 12', 'ry 5', 'h 21', 'ly 2', 'ne 2',
       'h 14', 'ay 8', 'e 21', 'ch 1', 'l 21', 't 20', 't 10', 'ne 7',
       'l 30', 'l 17', 'ne 9', 'ne 4', 'l 11', 'l 27', 'il 7', 'e 13',
       't 27', 'st 6', 't 18', 'ch 9', 'ne 6', 'h 23', 'r 18', 'st 2',
       'ly 1', 'st 9', 'ch 3', 'l 16', 'r 13', 'il 5', 'er 5', 'st 8',
       'e 19', 'er 6', 't 24', 'h 18', 'il 8', 'ay 3', 'h 16', 'st 1',
       'er 1', 'ne 1', 'ay 9', 'ay 2', 'h 13', 'l 23', 'l 24', 'st 4',
       'h 17', 'il 6', 't 11'], dtype=object)

In [18]:
df_reviews = pd.concat([df_reviews, df_unificado], axis=1)

In [19]:
df_reviews.rename(columns={'posted': 'Fecha_posteo'}, inplace=True)

In [20]:
df_reviews = df_reviews.drop("reviews", axis=1)

In [21]:
df_reviews.head()

,user_id,user_url,funny,Fecha_posteo,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,2011,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,js41637,http://steamcommunity.com/id/js41637,,2011,,22200,No ratings yet,True,It's unique and worth a playthrough.
2,evcentric,http://steamcommunity.com/id/evcentric,,2011,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,doctr,http://steamcommunity.com/id/doctr,,2014,,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,maplemage,http://steamcommunity.com/id/maplemage,,2013,,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [22]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       25799 non-null  object
 1   user_url      25799 non-null  object
 2   funny         59305 non-null  object
 3   Fecha_posteo  59305 non-null  object
 4   last_edited   59305 non-null  object
 5   item_id       59305 non-null  object
 6   helpful       59305 non-null  object
 7   recommend     59305 non-null  bool
 8   review        59305 non-null  object
dtypes: bool(1), object(8)
memory usage: 3.7+ MB

In [285]:
# Convierte las filas con el formato esperado y maneja las que no coinciden
#df_reviews['Fecha_posteo'] = df_reviews['Fecha_posteo'].str.replace('Posted', '').str.strip('.')

In [23]:
print(df_reviews['Fecha_posteo'].dtype)

object

In [24]:
df_reviews2=df_reviews.copy()

In [25]:
# Convierte la columna "Fecha_posteo" a cadena
df_reviews['Fecha_posteo'] = df_reviews['Fecha_posteo'].astype(str)

# Define la función para convertir a datetime
from dateutil.parser import parse

def convert_to_datetime(date_str):
    try:
        parsed_date = parse(date_str)
        return parsed_date
    except ValueError:
        return pd.NaT

# Aplica la función a la columna "Fecha_posteo"
df_reviews['Fecha_posteo'] = df_reviews['Fecha_posteo'].apply(convert_to_datetime)

In [26]:
df_reviews.head()

,user_id,user_url,funny,Fecha_posteo,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,2011-10-25,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,js41637,http://steamcommunity.com/id/js41637,,2011-10-25,,22200,No ratings yet,True,It's unique and worth a playthrough.
2,evcentric,http://steamcommunity.com/id/evcentric,,2011-10-25,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,doctr,http://steamcommunity.com/id/doctr,,2014-10-25,,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,maplemage,http://steamcommunity.com/id/maplemage,,2013-10-25,,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [27]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       25799 non-null  object
 1   user_url      25799 non-null  object
 2   funny         59305 non-null  object
 3   Fecha_posteo  50246 non-null  datetime64[ns]
 4   last_edited   59305 non-null  object
 5   item_id       59305 non-null  object
 6   helpful       59305 non-null  object
 7   recommend     59305 non-null  bool
 8   review        59305 non-null  object
dtypes: bool(1), datetime64[ns](1), object(7)
memory usage: 3.7+ MB

Valor Mínimo: 2010-10-25 00:00:00
Valor Máximo: 2023-10-31 00:00:00

In [29]:

años = df_reviews['Fecha_posteo'].dt.year.unique()
print(años)

[2011. 2014. 2013.   nan 2015. 2012. 2023. 2010.]

In [32]:
df_reviews.isnull().sum()

user_id         33506
user_url        33506
funny               0
Fecha_posteo     9059
last_edited         0
item_id             0
helpful             0
recommend           0
review              0
dtype: int64

In [33]:
df_reviews.dropna(subset=['Fecha_posteo'], inplace=True)

In [34]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50246 entries, 0 to 59291
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       20989 non-null  object
 1   user_url      20989 non-null  object
 2   funny         50246 non-null  object
 3   Fecha_posteo  50246 non-null  datetime64[ns]
 4   last_edited   50246 non-null  object
 5   item_id       50246 non-null  object
 6   helpful       50246 non-null  object
 7   recommend     50246 non-null  bool
 8   review        50246 non-null  object
dtypes: bool(1), datetime64[ns](1), object(7)
memory usage: 3.5+ MB

In [35]:
# veamos lo rangos de fecha para solicitar el imput
valor_minimo = df_reviews['Fecha_posteo'].min()
valor_maximo = df_reviews['Fecha_posteo'].max()

print("Valor Mínimo:", valor_minimo)
print("Valor Máximo:", valor_maximo)

Valor Mínimo: 2010-10-25 00:00:00
Valor Máximo: 2023-10-31 00:00:00

In [297]:
#df_unificado.to_csv('reviewscompleto.csv', index=False)

In [36]:
def verificar_duplicados(df):
    columnas_no_hasheables = []
    for columna in df.columns:
        if any(isinstance(item, (list, tuple, dict)) for item in df[columna]):
            columnas_no_hasheables.append(columna)

    if columnas_no_hasheables:
        df[columnas_no_hasheables] = df[columnas_no_hasheables].applymap(lambda x: str(x))
    
    duplicados = df[df.duplicated()]

    if not duplicados.empty:
        cantidad_duplicados = len(duplicados)
        print(f"Se encontraron {cantidad_duplicados} registros duplicados en el DataFrame.")
    else:
        print("No se encontraron registros duplicados en el DataFrame.")

In [37]:
resultado = verificar_duplicados(df_reviews)
print(resultado)

Se encontraron 178 registros duplicados en el DataFrame.
None

In [300]:
# Elimina las filas duplicadas basadas en todas las columnas del DataFrame
df_reviews = df_reviews.drop_duplicates()

# Si deseas resetear el índice después de eliminar duplicados, puedes hacerlo de esta manera:
df_reviews = df_reviews.reset_index(drop=True)

In [38]:
df_reviews.head()

,user_id,user_url,funny,Fecha_posteo,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,2011-10-25,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,js41637,http://steamcommunity.com/id/js41637,,2011-10-25,,22200,No ratings yet,True,It's unique and worth a playthrough.
2,evcentric,http://steamcommunity.com/id/evcentric,,2011-10-25,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,doctr,http://steamcommunity.com/id/doctr,,2014-10-25,,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,maplemage,http://steamcommunity.com/id/maplemage,,2013-10-25,,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [302]:
#df_reviews.to_csv('reviewscompleto2.csv', index=False)

In [39]:

def try_parse_int(value):
    try:
        return int(value)
    except (ValueError, TypeError):
        return None

# Itera sobre la columna "Fecha_posteo" y aplica la función
df_reviews2['Fecha_posteo'] = df_reviews2['Fecha_posteo'].apply(try_parse_int)

In [41]:
df_reviews2.head()

,user_id,user_url,funny,Fecha_posteo,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,2011.0,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,js41637,http://steamcommunity.com/id/js41637,,2011.0,,22200,No ratings yet,True,It's unique and worth a playthrough.
2,evcentric,http://steamcommunity.com/id/evcentric,,2011.0,,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,doctr,http://steamcommunity.com/id/doctr,,2014.0,,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,maplemage,http://steamcommunity.com/id/maplemage,,2013.0,,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [42]:
# veamos lo rangos de fecha para solicitar el imput
valor_minimo = df_reviews2['Fecha_posteo'].min()
valor_maximo = df_reviews2['Fecha_posteo'].max()

print("Valor Mínimo:", valor_minimo)
print("Valor Máximo:", valor_maximo)

Valor Mínimo: 2010.0
Valor Máximo: 2015.0

In [ ]:
df_reviews2.to_csv('reviewscompletosin23.csv', index=False)