In [1]:
# Cargamos las librerias que necesitamos
import json
import pandas as pd 
#! pip install nltk
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
ruta_archivo = 'australian_user_reviews.json'

# Listas para almacenar los datos y los errores
datos_reviews = []
errores = []

# Contadores para los registros correctos y los registros fallidos
registros_correctos = 0
registros_fallidos = 0

with open(ruta_archivo, 'r', encoding='utf-8') as archivo:
    # Leer cada linea del archivo
    for num_linea, linea in enumerate(archivo, start=1):
        try:
            # Intentar cargar cada línea como un JSON
            objeto_json = json.loads(linea)
            datos_reviews.append(objeto_json)
            registros_correctos += 1
        except json.JSONDecodeError:
            try:
                # Si falla como JSON, intentar interpretar la línea como un diccionario
                objeto_dict = eval(linea)
                if isinstance(objeto_dict, dict):
                    datos_reviews.append(objeto_dict)
                    registros_correctos += 1
                else:
                    errores.append(f"Línea {num_linea}: No es un JSON válido ni un diccionario.")
                    registros_fallidos += 1
            except Exception as e:
                errores.append(f"Línea {num_linea}: {e}")
                registros_fallidos += 1
# Creamos un df con datos_reviews
df_reviews = pd.DataFrame(datos_reviews)

# Ahora vemos cuantos correctos y errores se cargaron
print(f"Total de registros: {registros_correctos + registros_fallidos}")
print(f"Registros leídos correctamente: {registros_correctos}")
print(f"Registros fallidos: {registros_fallidos}")
print("Errores:")
for error in errores:
    print(error)

Total de registros: 25799
Registros leídos correctamente: 25799
Registros fallidos: 0
Errores:

In [3]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [4]:
ruta_archivo = 'australian_users_items.json'

# Listas para almacenar los datos y los errores
datos_items = []
errores = []

# Contadores para los registros correctos y los registros fallidos
registros_correctos = 0
registros_fallidos = 0

with open(ruta_archivo, 'r', encoding='utf-8') as archivo:
    # Leer cada linea del archivo
    for num_linea, linea in enumerate(archivo, start=1):
        try:
            # Intentar cargar cada línea como un JSON
            objeto_json = json.loads(linea)
            datos_items.append(objeto_json)
            registros_correctos += 1
        except json.JSONDecodeError:
            try:
                # Si falla como JSON, intentar interpretar la línea como un diccionario
                objeto_dict = eval(linea)
                if isinstance(objeto_dict, dict):
                    datos_items.append(objeto_dict)
                    registros_correctos += 1
                else:
                    errores.append(f"Línea {num_linea}: No es un JSON válido ni un diccionario.")
                    registros_fallidos += 1
            except Exception as e:
                errores.append(f"Línea {num_linea}: {e}")
                registros_fallidos += 1

# Creamos un df con datos_items
df_items = pd.DataFrame(datos_items)

# Ahora vemos cuantos correctos y errores se cargaron
print(f"Total de registros: {registros_correctos + registros_fallidos}")
print(f"Registros leídos correctamente: {registros_correctos}")
print(f"Registros fallidos: {registros_fallidos}")
print("Errores:")
for error in errores:
    print(error)

Total de registros: 88310
Registros leídos correctamente: 88310
Registros fallidos: 0
Errores:

In [5]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [6]:
ruta_archivo = 'output_steam_games.json'

# Listas para almacenar los datos y los errores
datos_games = []
errores = []

# Contadores para los registros correctos y fallidos
registros_correctos = 0
registros_fallidos = 0

with open(ruta_archivo, 'r', encoding='utf-8') as archivo:
    # Leer cada linea del archivo
    for num_linea, linea in enumerate(archivo, start=1):
        try:
            # Intentar cargar cada linea como un JSON
            objeto_json = json.loads(linea)
            datos_games.append(objeto_json)
            registros_correctos += 1
        except json.JSONDecodeError:
            try:
                # Si falla como JSON, interpretar como un diccionario
                objeto_dict = eval(linea)
                if isinstance(objeto_dict, dict):
                    datos_games.append(objeto_dict)
                    registros_correctos += 1
                else:
                    errores.append(f"Línea {num_linea}: No es un JSON válido ni un diccionario.")
                    registros_fallidos += 1
            except Exception as e:
                errores.append(f"Línea {num_linea}: {e}")
                registros_fallidos += 1

# Creamos un df con datos_games
df_out2 = pd.DataFrame(datos_games)

# Ahora vemos cuantos correctos y errores se cargaron
print(f"Total de registros: {registros_correctos + registros_fallidos}")
print(f"Registros leídos correctamente: {registros_correctos}")
print(f"Registros fallidos: {registros_fallidos}")
print("Errores:")
for error in errores:
    print(error)

Total de registros: 120445
Registros leídos correctamente: 120445
Registros fallidos: 0
Errores:

In [7]:
df_out2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

Feature Engineering

In [8]:
df_reviews.head()
# vemos la columna reviews datos aninados

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [9]:
def verificar_duplicados(df):
    columnas_no_hasheables = []
    for columna in df.columns:
        if any(isinstance(item, (list, tuple, dict)) for item in df[columna]):
            columnas_no_hasheables.append(columna)

    if columnas_no_hasheables:
        df[columnas_no_hasheables] = df[columnas_no_hasheables].applymap(lambda x: str(x))
    
    duplicados = df[df.duplicated()]

    if not duplicados.empty:
        cantidad_duplicados = len(duplicados)
        print(f"Se encontraron {cantidad_duplicados} registros duplicados en el DataFrame.")
    else:
        print("No se encontraron registros duplicados en el DataFrame.")

In [10]:
resultado = verificar_duplicados(df_reviews)
print(resultado)

Se encontraron 313 registros duplicados en el DataFrame.
None

In [11]:
# Quitamos duplicados
df_reviews = df_reviews.drop_duplicates()

In [12]:
df_reviews.isnull().sum()

user_id     0
user_url    0
reviews     0
dtype: int64

In [13]:
df_reviews.describe()

,user_id,user_url,reviews
count,25486,25486,25486
unique,25485,25485,25459
top,76561198094224872,http://steamcommunity.com/profiles/76561198094...,[]
freq,2,2,28

In [14]:
# Realizamos EDA para df_out2
df_out2.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_out2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

In [16]:
df_out2.describe()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
count,24083,28852,32133,30085,32135,30068,31972,32133,31465,30758.00,32135,32133,28836
unique,8239,883,32094,30054,32135,3582,15395,32132,4649,162.00,2,32132,10992
top,Ubisoft,[Action],Soundtrack,Soundtrack,http://store.steampowered.com/app/761140/Lost_...,2012-10-16,"[Casual, Simulation]",http://steamcommunity.com/app/612880/reviews/?...,[Single-player],4.99,False,612880,Ubisoft - San Francisco
freq,385,1880,3,3,1,100,1292,2,2794,4278.00,30188,2,1259

In [17]:
resultado = verificar_duplicados(df_out2)
print(resultado)

Se encontraron 88309 registros duplicados en el DataFrame.
None

In [18]:
# Quitamos duplicados
df_out2 = df_out2.drop_duplicates()

In [19]:
#verificamos duplicados
df_out2.isnull().sum()

publisher       8053
genres             0
app_name           3
title           2051
url                1
release_date    2068
tags               0
reviews_url        3
specs              0
price           1378
early_access       1
id                 3
developer       3300
dtype: int64

In [20]:
#quitamos nulos
df_out2 = df_out2.dropna()

In [21]:
df_out2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22916 entries, 88310 to 120443
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     22916 non-null  object
 1   genres        22916 non-null  object
 2   app_name      22916 non-null  object
 3   title         22916 non-null  object
 4   url           22916 non-null  object
 5   release_date  22916 non-null  object
 6   tags          22916 non-null  object
 7   reviews_url   22916 non-null  object
 8   specs         22916 non-null  object
 9   price         22916 non-null  object
 10  early_access  22916 non-null  object
 11  id            22916 non-null  object
 12  developer     22916 non-null  object
dtypes: object(13)
memory usage: 2.4+ MB

In [22]:
df_items['items']
# datos aninados

0        [{'item_id': '10', 'item_name': 'Counter-Strik...
1        [{'item_id': '10', 'item_name': 'Counter-Strik...
2        [{'item_id': '1200', 'item_name': 'Red Orchest...
3        [{'item_id': '10', 'item_name': 'Counter-Strik...
4        [{'item_id': '300', 'item_name': 'Day of Defea...
                               ...
88305    [{'item_id': '413850', 'item_name': 'CS:GO Pla...
88306    [{'item_id': '11020', 'item_name': 'TrackMania...
88307                                                   []
88308    [{'item_id': '304930', 'item_name': 'Unturned'...
88309                                                   []
Name: items, Length: 88310, dtype: object

In [23]:
verificar_duplicados(df_items)

Se encontraron 657 registros duplicados en el DataFrame.

In [24]:
# Quitamos duplicados
df_items = df_items.drop_duplicates()

In [25]:
df_items.isnull().sum()

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [26]:
# Convierte la columna 'items' en un DataFrame
df_items = pd.concat(df_items['items'].apply(pd.Series), axis=1)

# Ahora el DataFrame df_items tiene nuevas columnas para cada clave en los diccionarios

# Si deseas eliminar la columna original 'items'
df_items.drop(columns=['items'], inplace=True)

# Ahora df_items tiene las columnas expandidas y la columna 'items' eliminada
print(df_items)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"